<nav>
	<ul>
		<li id="flechita_nav"><a href="/"></a></li>
		{% for cat in categorias %}
		    <li><a href="{% url "categoria" cat.pk %}">{{cat}}</a></li>
		{% endfor %}
		<li id="publicar_nav"><a href="{% url "add" %}">Publicar</a></li>
	</ul>
</nav>

<nav>
	<ul>
		{% for item in menu %}
		    <li><a href="{{ item.url }}" {% if item.active %} style="color:red;" {% endif %}>{{ item.name }}</a></li>
		{% endfor %}
	</ul>
</nav>